<section class="flex flex-col p-4 mx-auto">
  <h2 class="text-center font-bold text-3xl mb-4">Resend confirmation</h2>
  
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "flex flex-col gap-4 p-8 shadow-lg rounded-md bg-white-05 mx-auto" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),  class: "text-black" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Resend confirmation" %>
    </div>

    <div class="flex flex-col text-sm">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  
</section>
